@page
@model MyCourses.Pages.Courses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.CourseId" />
            <div class="form-group">
                <label asp-for="Course.Year" class="control-label"></label>
                <input asp-for="Course.Year" class="form-control" />
                <span asp-validation-for="Course.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Title" class="control-label"></label>
                <input asp-for="Course.Title" class="form-control" />
                <span asp-validation-for="Course.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Code" class="control-label"></label>
                <input asp-for="Course.Code" class="form-control" />
                <span asp-validation-for="Course.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Start" class="control-label"></label>
                <input asp-for="Course.Start" class="form-control" />
                <span asp-validation-for="Course.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.End" class="control-label"></label>
                <input asp-for="Course.End" class="form-control" />
                <span asp-validation-for="Course.End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Instructor" class="control-label"></label>
                <input asp-for="Course.Instructor" class="form-control" />
                <span asp-validation-for="Course.Instructor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
